{% for gpu in smi.gpu %}
<div class="card grey lighten-4">
  <div class="card-content">
    <div class="card-title">
      {{ gpu.product_name }}
      ({{ gpu.get('id') }})
    </div>

    <table>
      <thead>
        <tr>
          <th style="width: 20%">Memory usage</th>
          <th style="width: 20%">Power usage</th>
          <th style="width: 20%">GPU utilisation</th>
          <th style="width: 20%">Temperature</th>
          <th style="width: 20%">Bus ID</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            {{ gpu.fb_memory_usage.used }} /
            {{ gpu.fb_memory_usage.total }}
          </td>
          <td>
            {{ gpu.power_readings.power_draw }} /
            {{ gpu.power_readings.power_limit }}
          </td>
          <td>{{ gpu.utilization.gpu_util }}</td>
          <td>
            {{ gpu.temperature.gpu_temp }} /
            {{ gpu.temperature.gpu_temp_max_threshold }}
          </td>
          <td>{{ gpu.pci.pci_bus_id }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endfor %}

{% if processes | length %}
<div class="card grey lighten-4">
  <div class="card-content">
  <div class="card-title">Process table</div>
  <table>
    <thead>
      <tr>
        <th>GPU</th>
        <th>PID</th>
        <th>Owner</th>
        <th>CPU usage</th>
        <th>Command line</th>
        <th>GPU memory</th>
        <th>System memory</th>
      </tr>
    </thead>
    <tbody>
      {% for p in processes %}
      <tr>
        <td>{{ p.gpu.get('id') }}</td>
        <td>{{ p.info.pid }}</td>
        <td>{{ p.psutil.username() }}</td>
        <td>{{ p.psutil.cpu_percent() | int }} %</td>
        <td>{{ p.psutil.cmdline() | join(' ') }}</td>
        <td>{{ p.info.used_memory }}</td>
        <td>{{ p.psutil.memory_info().rss | filesizeformat(binary=True) }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>
