{% extends "_layout/default.html" %}

{% block content %}
<h1>GPU information</h1>

<p>
  <a class="waves-effect waves-light btn" href="{{ url_for('api_gpuinfo') }}">
    <i class="material-icons right">computer</i>
    JSON version
  </a>
</p>

<div id="dynamic">
{% include "gpuinfo_dynamic.html" %}
</div>

{% endblock %}

{% block script %}
<script >
$(document).ready(function(){

function refresh() {
  $.get('{{ url_for('gpuinfo_update') }}', function(data) {
    $('#dynamic').html(data);
    window.setTimeout(refresh, 1000);
  });
}
window.setTimeout(refresh, 1000);

});
</script>
{% endblock %}
