{% extends "_layout/default.html" %}

{% block content %}

<h3>Container images</h3>

<p>This page lists container images used by this application. You can build the
container images at any time.</p>

<p>
<form method="POST" action="{{ url_for('build_images') }}">
  <button class="btn waves-effect waves-light" type="submit" name="action">
    <i class="material-icons right">build</i>
    Build container images
  </button>
</form>
</p>

{% if images %}
<table class="striped">
    <thead>
      <th class="hide-on-small-only">Created at</th>
      <th class="hide-on-small-only">Labels</th>
      <th>Tags</th>
      <th>Size</th>
      <th>Virtual size</th>
    </thead>
    <tbody>
    {% for im in images %}
    <tr>
      <td class="hide-on-small-only" style="vertical-align: top">
        {{ fromtimestamp(im.Created) }}
      </td>
      <td class="hide-on-small-only" style="vertical-align: top">
        {% for k, v in im.Labels.items() | sort %}
        <div>{{ k }} = {{ v }}</div>
        {% endfor %}
      </td>
      <td style="vertical-align: top">
        {% for t in im.RepoTags | sort %}<div>{{ t }}</div>{% endfor %}
      </td>
      <td style="vertical-align: top">
        {{ im.Size | filesizeformat }}
      </td>
      <td style="vertical-align: top">
        {{ im.VirtualSize | filesizeformat }}
      </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<p>
  <a class="waves-effect waves-light red btn" href="#delete-modal">
    <i class="material-icons right">delete</i>
    Delete container images
  </a>
</p>

<div id="delete-modal" class="modal">
  <div class="modal-content">
    <h4>Delete all container images</h3>

    <p>This will <strong>delete</strong> all the containers associated with
    {{ config.SITE_NAME }}. Are you sure?
    </p>
  </div>
  <form action="{{ url_for('delete_images') }}" method="POST">
  <div class="modal-footer">
    <button type="submit" class=" modal-action modal-close waves-effect
      waves-red btn-flat">
      Yeah! I know what I'm doing
    </button>
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">
      Actually, I didn't mean that at all
    </a>
  </div>
  </form>
</div>
{% else %}
<p>There are no {{ config.SITE_NAME }} Docker images on the machine.</p>
{% endif %}

{% endblock %}

{% block script %}
<script>$(document).ready(function() { $('.modal').modal(); });</script>
{% endblock %}
