{% extends "_layout/default.html" %}

{% block title %}Job #{{ job_number }} log{% endblock %}

{% block content %}

<h3>Log for job #{{ job_number }}</h3>

<p>
  <a href="{{ url_for('log_raw', job_number=job_number) }}"
     download="job_{{ job_number }}_log.txt"
     class="waves-effect waves-light btn">
    <i class="material-icons right">file_download</i>
    Download
  </a>
</p>

<ul class="collapsible" data-collapsible="accordion">
  {% set section_start = 0 %}
  {% for section in sections %}
  <li>
    <div class="collapsible-header {{ 'active' if loop.last else '' }}">
      <span class="badge">
      {{ section.line_count }}
      {{ 'lines' if section.line_count != 1 else 'line' }}
      </span>
      {{ section.title }}
    </div>
    <div class="collapsible-body">
      <div style="display: table">
      {% set block_start = section_start %}
      {% for blk in section.blocks %}
        {% set block_loop = loop %}
        {% for line in blk.text %}
        <div style="display: table-row">
          <div class="grey lighten-3 right-align grey-text"
               style="display: table-cell; padding: 0 1ex; {{
                 'padding-top: 1ex;' if loop.first and block_loop.first else ''
               }} {{
                 'padding-bottom: 1ex;' if loop.last and block_loop.last else ''
               }}">
            <code>{{ block_start + loop.index }}</code>
          </div>
          <div class="grey lighten-4"
               style="width: 100%; display: table-cell; padding: 0 1ex">
            {% if blk.type == 'stderr' %}
            <span class="red-text">
            {% elif blk.type == 'command' %}
            <span class="teal-text">
            {% elif blk.type == 'info' %}
            <span class="blue-text text-darken-2">
            {% else %}<span>{% endif %}
              <div style="white-space: pre-wrap; word-break: break-all"><code>{{ line }}</code></div>
            </span>
          </div>
        </div>
        {% endfor %}
        {% set block_start = block_start + blk.text | length %}
      {% endfor %}
      </div>
    </div>
  </li>
  {% set section_start = section_start + section.line_count %}
  {% endfor %}
</ul>

{% endblock %}
