{% extends "_layout/default.html" %}

{% block title %}Job queue{% endblock %}

{% block content %}

<h1>Job queue</h1>

<p>This page lists the pending, running and completed jobs in the queue. There's
no need to refresh as this page updates itself automatically.</p>

<div id="dynamic">
  {% include "qstat_dynamic.html" %}
</div>

{% endblock %}

{% block script %}
<script >
$(document).ready(function(){

function refresh() {
  $.get('{{ url_for('qstat_update') }}', function(data) {
    $('#dynamic').html(data);
    window.setTimeout(refresh, 10000);
  });
}
window.setTimeout(refresh, 10000);

});
</script>
{% endblock %}
