{% extends "_layout/default.html" %}

{% block title %}Submit job{% endblock %}

{% block content %}

<h3>Submit job</h3>

<form method="POST">
  <p>
  <div class="row">
    <div class="input-field col s9">
      <input name="gitrepo" required placeholder="/workspace/my-repo" id="gitrepo" type="text">
      <label for="gitrepo">Repository</label>
    </div>
    <div class="input-field col s3">
      <input name="gitbranch" id="gitbranch" type="text">
      <label for="gitbranch">Branch</label>
    </div>
  </div>
  </p>

  {% for spec in job_specs %}
  <p>
    <input name="jobspecid" type="radio" value="{{spec.id}}"
           {{ 'checked' if loop.first else '' }}
           class="with-gap"id="js-{{loop.index}}" />
    <label for="js-{{loop.index}}">{{spec.description}}</label>
  </p>
  {% endfor %}

  {#
  <p>
  <div class="row">
    <div class="input-field col s12">
      <textarea name="envvars" id="envvars" placeholder="DATASET=/workspace/dataset_1
OUTPUT=/workspace/output" class="materialize-textarea"></textarea>
      <label for="envvars">Environment variables</label>
    </div>
  </div>
  </p>
  #}

  <p>
  <button class="btn waves-effect waves-light" type="submit" name="action">
    <i class="material-icons right">cloud_upload</i>
    Submit
  </button>
  </p>
</form>

{% endblock %}
