<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css" media="screen,projecstion"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{{ config.SITE_NAME }}{% endblock %}</title>
    {% block head %}{% endblock %}
  </head>

  <body>
    <nav>
      <div class="nav-wrapper container">
        <a id="logo-container" href="{{ url_for('index') }}" class="brand-logo">
          {{ config.SITE_NAME }}
        </a>
        <a href="#" data-activates="mobile-menu" class="button-collapse">
          <i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="{{ url_for('submit') }}">Submit job</a></li>
          <li><a href="{{ url_for('qstat') }}">Job queue</a></li>
          <li><a href="{{ url_for('gpuinfo') }}">GPU information</a></li>
          <li><a href="{{ url_for('images') }}">Container images</a></li>
          <li><a href="{{ url_for('info') }}">Help</a></li>
        </ul>
        <ul class="side-nav" id="mobile-menu">
          <li><a href="{{ url_for('submit') }}">Submit job</a></li>
          <li><a href="{{ url_for('qstat') }}">Job queue</a></li>
          <li><a href="{{ url_for('gpuinfo') }}">GPU information</a></li>
          <li><a href="{{ url_for('images') }}">Container images</a></li>
          <li><a href="{{ url_for('info') }}">Help</a></li>
        <ul>
      </div>
    </nav>

    <div class="container">{% block content %}{% endblock %}</div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script>
    $(document).ready(function() { $('.button-collapse').sideNav(); });
    </script>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <script>
    $(document).ready(function() {
      {% for message in messages %}
      Materialize.toast('{{ message }}', 5000);
      {% endfor %}
    });
    </script>
    {% endif %}
    {% endwith %}
    {% block script %}{% endblock %}
  </body>
</html>
