<!DOCTYPE html>
<html>
  <head>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css" media="screen,projecstion"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}Yoshi{% endblock %}</title>
    {% block head %}{% endblock %}
  </head>

  <body>
    <nav>
      <div class="nav-wrapper container">
        <a href="{{ url_for('index') }}" class="brand-logo">Yoshi</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="{{ url_for('index') }}">Submit job</a></li>
          <li><a href="{{ url_for('qstat') }}">Job queue</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">{% block content %}{% endblock %}</div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  </body>
</html>
